*, *:before, *:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

img{
  width: 100%;
}

footer, header, nav, section, main{
  display: block;
}

body{
  line-height: 1;
}

body, input, button, textarea{
  // update font-family
  font-family: sans-serif;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}

html{
  min-height: 100%;

  @media(max-width: 1080px){
    font-size: 93.75%;
  }
  @media(max-width: 720px){
    font-size: 87.5%;
  }
}

button{
  cursor: pointer;
}

[disabled]{
  opacity: 0.6;
  cursor: not-allowed;
}